.kbr {
    padding: 70px 0;
}

.kbr-title {
    margin-bottom: 25px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.kbr-text {
    margin-bottom: 70px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.kbr-text span {
    color: #9D7AFF;
    font-size: 21px;
}
.kbr-row {
    display: flex;
    justify-content: space-between;
    
}
.kbr-left {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.kbr-left__img {
    max-width: 400px;
    
}
.kbr-left__img:nth-child(1) {
    border-top-left-radius: 20px;
    margin-bottom: 20px;
}
.kbr-left__img:nth-child(2) {
    border-bottom-left-radius: 20px;
}

.kbr-right__img {
    border: 1px solid #9D7AFF;
    max-width: 800px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}