.slider-img {
    height: 850px; /* или любая другая фиксированная высота, которую вы хотите установить */
    width: 100%;  /* автоматически масштабировать ширину в соответствии с высотой */
    object-fit: cover; /* сохранять пропорции изображения и обрезать, чтобы заполнить контейнер */
  }