.header {
  padding: 10px 0;
  background: #20232a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-logo {
    width: 90px;
}
.header-menu {
    list-style: none;
    display: flex;
}
.header-menu__item:not(:last-child) {
    margin-right: 70px;
}
.header-menu__link {
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
    
}

.header-btns {
    display: flex;
    align-items: center;
}
.header-btns__login {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    /* background: #9D7AFF; */
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 10px;
}
.header-btns__reg {
    font-size: 14px;
    /* background: #9D7AFF; */
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}